* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Muli', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'WaltographRegular';
    src: "https://fonts.googleapis.com/css?family=Muli|Noto+Sans&display=swap"; 
}

/*body*/
#page1 {
    background-color: #1D1E4C; 
}

.header {
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex; 
    flex-wrap: wrap;
    align-content: space-between;
}

#signInButton, #signInButton2 {
    width: 80px;
    padding: 7px; 
    border-radius: 10px;
    font-size: 1em; 
}

#signInButton {
    background-color: #1D1E4C; 
    color: white;
}

.signInButtonPos {
    display: flex;
    justify-content: flex-end;
    padding: 7px; 
    width: 100%; 
}

.signInButtonLayout {
    display: flex;
    justify-content: flex-end;
    width: 95%; 
}

#nav > div {
    width: 40px;
    height: 6px;
    background-color:#1D1E4C;
    margin-bottom: 7px; 
}

#navMenuButton {
    border-style: none; 
}

#logoBigPg1, #logoBigPg4 {
    display: block; 
    margin: 0 auto; 
    text-align: center; 
}

#logoBigPg1  {
    margin-top: 8%;
}

#subtitle { 
    color: white;
    margin-top: 1%; 
    text-align: center; 
    font-size: 1.65em;
    font-style: italic;
    font-family: 'Muli', sans-serif; 
    font-weight: lighter; 
}

#joinMagic {
    font-family: 'WaltographRegular', sans-serif;
    text-align: center; 
    color: white;
    font-size: 4em; 
    margin-top: 6.5%; 
    font-weight: lighter; 
    font-style: normal; 
}

.signUp {
    display: block;
    text-align: center;
    margin-top: 1%; 
    margin-bottom: 5%; 
    
}

.email {
    width: 45%;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-color: grey; 
    font-size: 1em;
}

#emailSubmit {
    padding: 5px;
    height: 4%;
    font-size: 1em; 
    color: white;
    background-color: #438DC7; 
    border-color: grey; 

}

#footer {
    height: 25%;
    width: 100%;
    background-color: #28305E;
    color: white; 
        /*setting the layout for the divs within this larger div so its applied to them all consistently*/
    display: flex;
    flex-wrap: wrap; 
    font-family: 'muli', sans-serif; 
    text-align: center;
 
}

.stats {
    vertical-align: middle; 
    width: 25%; 
    margin-top: 2.75%
    
}

.number {
    font-size: 3em;
    font-weight: bolder; 
    margin-bottom: 1.5%; 
}

.thing {
    font-weight: lighter; 
    font-size: 2em; 

}



/* PAGE TWO */

/* UNIVERSAL ELEMENTS ACROSS BOTH FORM PAGES */

#signInButton2 {
    background-color: white; 
    color: #1D1E4C;
    align-items: center; 
    align-self: center;
    text-align: center; 
}

.signInButtonPos2 {
    display: flex;
    justify-content: flex-end;
    padding: 7px; 
    width: 100%; 
}

.signInButtonLayout2 {
    display: flex;
    justify-content: flex-end;
    width: 90%; 
}



#headerLogo {
    padding: 10px;
}

.pageTitle {
    font-family: 'Milu', sans-serif; 
    font-weight: bold;
    padding: 2.75%; ;
    font-size: 2em;
    font-style: italic;
    color: #1D1E4C; 
    margin-left: 1%; 
}



#page2{
    background-color: white; 
    flex-direction: column;
}

.headerPg2 {
    width: 100%;
    background-color: #1D1E4C;
    display: flex; 
    flex-wrap: wrap;
    align-content: space-between;
}


/* input form section for 2nd page */

/* layout for all sections */
.formInfo div {
    padding: 1.25%; 
    margin-left: 2%; 
}

input {
    padding: 1%; 
}

/* for all the text inside inputs */

.formInfo{
    /*POTENTIALLY CHANGE THIS ???? */
    width: 50%; 
    flex: 1 0 auto; 
    margin-left: 2%; 
}
.formInfo input {
    font-size: 1.25em; 
    font-style: italic; 
}

/* for first section (name) */
.formInfo div:first-of-type {
    height: 50%;
    width: 100%; 
    font-size: 1em; 
    margin-right: 3%; 
    flex-wrap: wrap;

}


#firstName + #lastName {
    width: 50%; 
    flex-wrap: wrap; 

}

/* for 2nd section (DOB) */

.formInfo div:nth-of-type(2){
    font-family: 'Milu', sans-serif;
    flex-wrap: wrap;  
    margin-bottom: 2%; 
}

div #dateInput {
    margin-left: 2%; 
}

label {
    font-weight: normal;
    font-style: italic;
    color: grey; 
}

/* affects both gender (pg2) and payment type (pg3) */

.radioBox{
    font-family: 'Milu', sans-serif;
    flex-wrap: wrap;  
    color: grey;
    font-style: italic;
    font-size: 1em;
    border-style: solid; 
    border-width: 1px;
    border-color: lightgray; 
    position: relative;
    left: 1.3%; 
    width: 70%; 
}

.radioBox input {
    width: 13%;
}

/* this selector to easily select all radio inputs except the first one for nice layout*/
.radioBoxOption ~ .radioBoxOption {
    margin-left: 5%; 
}

/*postcode*/
#postcode{
    font-family: 'Milu', sans-serif;
    flex-wrap: wrap; 
    width: 20%;  
    margin-top: 1.7%; 
}

.continueButton{
    margin-left: 60%; 
    width: 40%; 
    margin-top: 2%; 
}

.continueButton button {
    background-color: #1D1E4C;
    color: white; 
    width: 30%;
    padding: 1%; 
    text-align: center;
    font-size: 1.5em; 

}

/*trying to make continue button aligned with buttom of form*/
#page2 section:nth-of-type(2){
    flex-wrap: wrap; 
}




/*PAGE 3 */

#page3{
    background-color: white; 
    flex-direction: column;
}

.headerPg3 {
    width: 100%;
    height: 8%;
    background-color: #1D1E4C; 
}

#cardName {
    margin-top: 2%; 
    width: 70%; 
}

#cardNumber {
    width: 50%; 
}

#CVV {
    width: 12%; 
}

#cardExpiry {
    width: 30%; 
    /* FIX THIS */
    margin-top: -1%; 
}

#agreeConditions {
    margin-left: 8%; 
    margin-top: 10%; 
    margin-bottom: 3%; 
    margin-right: 1.5%; 
}

#agreeConditions + label {
    font-family: 'Milu', sans-serif;
    font-size: 1.4em; 
}

/* MICKEY LOGO AT BOTTOM OF BOTH PAGES */

.mickeyLogo { 
    position: fixed;
    left: 85%; 
    bottom: -1%;
}


/*PAGE 4 - CONFIRMATION PAGE*/

#page4 {
    background-color: #1D1E4C; 
}

#logoDark {
    position: fixed;
    left: 92%;
    margin-top: -1.3%;  
    padding: 1%; 
 
}

#logoBigPg4  {
    margin-top: 3.5%;
}


#welcome {
    font-family: 'Milu', sans-serif;
    font-size: 3em;
    color: white;
    font-style: italic; 
    display: flex;
    justify-content: center;
    /* negative margin to pull disney+ logo up without editing its css */
    margin-top: -20%; 
}

#confirmationMessage {
    font-family: 'Milu', sans-serif;
    font-size: 2em;
    font-style: italic;
    font-weight: 500;
    margin-top: 20%;  
    color: white;
    display: flex;
    justify-content: center;    
}

#mickeyLight { 
    position: fixed;
    left: 85%; 
    bottom: -1%;
}



#watchButton {
    background-color: #438DC7; 
    color: white;
    font-size: 2em; 
    font-style: italic;
    font-weight: bold; 
    padding: 1.5%; 
    margin-top: 4%; 
    border-style: solid;
    border-color: grey;
}

#watchButtonSection {
    display: flex;
    justify-content: center;
}
