* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Muli', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'WaltographRegular';
    src: "https://fonts.googleapis.com/css?family=Muli|Noto+Sans&display=swap"; 
}

/*body*/
#page1 {
    background-color: #1D1E4C; 
}

.header {
    width: 100%;
    height: 55px;
    background-color: lightgray;
    padding: 10px;
}

#signInButton {
    width: 80px;
    padding: 7px; 
    border-radius: 10px;
    background-color: #1D1E4C; 
    color: white;
    font-size: 1em; 
    text-decoration-color: white;
    position: fixed;
    right: 1%; 
}

#nav > div {
    width: 40px;
    height: 5px;
    background-color:#1D1E4C;


}


.logoBig {
    display: block; 
    margin: 0 auto; 
    margin-top: 8%; 
    text-align: center; 
}

#subtitle { 
    color: white;
    margin-top: 1%; 
    text-align: center; 
    font-size: 1.65em;
    font-style: italic;
    font-family: 'Muli', sans-serif; 
    font-weight: lighter; 
}

#joinMagic {
    font-family: 'WaltographRegular', sans-serif;
    text-align: center; 
    color: white;
    font-size: 4em; 
    margin-top: 6.5%; 
    font-weight: lighter; 
    font-style: normal; 
}

.signUp {
    display: block;
    text-align: center;
    margin-top: 1%; 
    margin-bottom: 5%; 
    
}

.signUp > input {
    width: 45%;
    padding: 5px;
    border: 1px;
    border-style: solid;
    border-color: grey; 
    font-size: 1em;
}

#emailSubmit {
    padding: 5px;
    height: 4%;
    font-size: 1em; 
    color: white;
    background-color: #438DC7; 
    border-color: grey; 

}

#footer {
    height: 25%;
    width: 100%;
    background-color: #28305E;
    color: white; 
        /*setting the layout for the divs within this larger div so its applied to them all consistently*/
    display: flex;
    flex-wrap: wrap; 
    font-family: 'muli', sans-serif; 
    text-align: center;
 
}

.stats {
    vertical-align: middle; 
    width: 25%; 
    margin-top: 2.75%
    
}

.number {
    font-size: 3em;
    font-weight: bolder; 
    margin-bottom: 1.5%; 
}

.thing {
    font-weight: lighter; 
    font-size: 2em; 

}

/* PAGE TWO */

#page2{
    background-color: white; 
}

.headerPg2 {
    width: 100%;
    height: 8%;
    background-color: #1D1E4C; 
}

#signInButton2 {
    width: 80px;
    padding: 7px; 
    border-radius: 10px;
    background-color: white; 
    color: #1D1E4C;
    font-size: 1em;  
    position: fixed;
    right: 1%; 
    top: 3%; 
}

#headerLogo {
    padding: 10px;
}

.pageTitle {
    font-family: 'Milu', sans-serif; 
    font-weight: bold;
    padding: 35px;
    font-size: 2em;
    font-style: italic;
    color: #1D1E4C; 
}

.mickeyLogo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* input form section for 2nd page */

/* layout for all sections */
.formInfo div {
    padding: 1.25%; 
    margin-left: 2%; 
}

/* for all the text inside inputs */

.formInfo{
    width: 50%; 
}
.formInfo input {
    font-size: 1.25em; 
    font-style: italic; 
}

/* for first section (name) */
.formInfo div:first-of-type {
    height: 50%;
    width: 50%; 
    font-size: 1em; 
    margin-right: 3%; 

}


#firstName + #lastName {
    width: 100%; 
    flex-wrap: wrap; 

}

/* for 2nd section (DOB) */

.formInfo div:nth-of-type(2){
    font-family: 'Milu', sans-serif;
    flex-wrap: wrap;  
}

label {
    font-weight: normal;
    font-style: italic;
    color: grey; 
}



.radioGender input {
    padding: 10%; 

}
.formInfo div:nth-of-type(3){
    font-family: 'Milu', sans-serif;
    flex-wrap: wrap;  
    color: black;
}


.continueButton{
    margin-left: 60%; 
    width: 50%; 

}

.continueButton button {
    background-color: #1D1E4C;
    color: white; 
    width: 30%;
    padding: 1%; 
    text-align: center;
    font-size: 1.5em; 

}

/*trying to make continue button aligned with buttom of form*/
body section:nth-of-type(2){
    flex-wrap: wrap; 
}

